
.btn {
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      font-size: $default-font-size;
      display: inline-block;
      border-radius: 5rem;
      align-items: center;
      transition: all 0.2s;
      position: relative;

      border: none;
      cursor: pointer;

    }
  
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      &::after {
          content: "";
          transform: scale(1.5);
          opacity: 0;
        }
    }
  
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
  
    &--white {
      background-color: $color-white;
      color: $color-grey-dark;
      &::after {
          background-color: $color-white;
        }
    }
  
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  
    &--green {
      background-color: $color-primary;
      color: $color-white;

      &::after {
          background-color: $color-primary;
      }
  }
  
    
  
    &--animated {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
    }
  }
  
  .btn-text {
    &:link,
    &:visited {
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      transition: all .2s;
    }
    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
      transition: translateY(-2px);
    }

    &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
      transition: translateY(0);
    }
  }