*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    // This defines what 1rem is 16px
  font-size: 62.5%;
  color: $color-black;
}

body {
    box-sizing: border-box;
}

